<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtrh7jMFIb_61MhBknljkgZUflofUPjMI</string>
	<key>GCM_SENDER_ID</key>
	<string>315016890739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EpicSavings.EpicSavings</string>
	<key>PROJECT_ID</key>
	<string>epicsavings-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>epicsavings-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315016890739:ios:14253a8113f4e170911d06</string>
</dict>
</plist>